/* HEADER CSS */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: $header-height;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    color: $brown;
    a {
        color: $brown;
    }

    background-color: $mint;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);

    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    &.opacity0 {
        opacity: 0;
    }

    > .logo {
        width: auto;
        height: 100%;

        grid-area: logo;

        margin: auto 10px;
    }

    .logo > a,
    a > img {
        width: auto;
        height: 100%;
    } /*logo i link w wymiarach 100px, fit-content */

    > nav {
        max-width: 500px;
        width: 100%;

        grid-area: nav;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        align-items: center;

        > div {
            text-align: center;
        }
    }
}

@import "header--rwd";

/* HEADER CSS */
