body#body-news {
    margin-top: $header-height;

    header {
        position: absolute;
    }

    .article__header {
        width: 100%;

        padding: 16px 0px 4px 16px;
        border-bottom: 3px solid rgba(68, 140, 48, 0.5);

        background-color: #ededed;

        font-size: 24px;
        color: rgba(68, 140, 48, 0.5);
    }
    main {
        max-width: 500px;
        width: 100%;
        margin: auto;
        padding: 32px 0;

        .post {
            padding-top: 32px;
            &__big {
                section:first-child {
                    height: fit-content;
                    width: 100%;

                    background-color: #e3e3e3;

                    @include df(center, center);
                    img,
                    video {
                        width: 100%;
                        height: 100%;
                    }
                }
                section:last-child {
                    height: 300px;

                    padding: 16px;

                    background-color: #bad9c8;

                    @include df(center, center);
                    flex-direction: column;
                    div {
                        width: 100%;
                    }
                    .title {
                        font-size: 24px;
                    }
                    .desc {
                        flex: 1;

                        padding-top: 16px;
                    }
                    .data {
                        @include df(space-between, center);
                        div {
                            width: fit-content;
                            a {
                                width: 100%;
                                height: 100%;
                                color: black;
                                @include df(space-between, center);
                                img {
                                    padding-left: 4px;
                                }
                            }
                        }
                    }
                }
            }
            &__small {
                section {
                    max-width: 500px;
                    height: fit-content;
                    width: 100%;

                    @include df(start, center);
                    flex-direction: column;

                    padding: 16px;

                    background-color: #e3e3e3;
                    div {
                        width: 100%;
                        padding-top: 4px;
                    }
                    .title {
                        font-size: 18px;
                        color: black;
                    }
                    .desc {
                        min-height: 80px;
                    }
                    .go {
                        a {
                            color: black;
                            @include df(flex-start, center);
                            img {
                                padding-left: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    aside#cal {
        cursor: pointer;

        position: fixed;
        top: 50%;
        right: 20px;
        transform: translateY(-25%);

        width: 360px;
        height: fit-content;

        padding: 16px;

        background-color: #bad9c8;
        a#month,
        a#year {
            color: $brown;
        }
        .title {
            @include df(space-between, center);

            font-size: 24px;
            color: #4b322d;
        }
        #days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 8px;

            padding-top: 16px;

            .day {
                width: 40px;
                height: 40px;

                @include df(center, center);
                background-color: #ededed;

                color: $brown;
                &.today,
                &:hover {
                    background-color: rgba(68, 140, 48, 0.5);
                    color: $white;
                }
                &.disable:hover {
                    background-color: #ededed;
                }
            }
        }
    }
}
@media (max-width: 1375px) {
    body#body-news aside#cal {
        &.expand {
            top: $header-height;
            transform: translateY(+50%);
            right: 20px;
            z-index: 99;

            width: fit-content;

            padding: 0;

            .burger.hidden {
                width: fit-content;
                height: 30px;

                background-color: $white;
                @include df(space-between, center);
                flex-direction: column;

                padding: 0;

                .burgerT {
                    width: 40px;
                    height: 5px;
                    background-color: rgba(68, 140, 48, 0.5);
                }
            }
            .title,
            #days {
                display: none;
            }
        }
        right: 50%;
        transform: translate(+50%, -20%);
        background-color: #ededed;
        #days {
            .day {
                background-color: #bad9c8;
            }
        }
    }
}
